trigger:
- master
pool:
  vmImage: 'ubuntu-latest'
steps:
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.SourcesDirectory)/NodeGoat.zip'
    replaceExistingArchive: true

    
    
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: chmod 777 '$(Build.SourcesDirectory)/NodeGoat.zip' \
      docker run --tty --rm veracode/pipeline-scan:cmd -vid $(VERACODE_API_ID) -vkey $(VERACODE_API_KEY) -f '$(Build.SourcesDirectory)/NodeGoat.zip'

