<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="https://www.owasp.org/index.php/Projects/OWASP_Node_js_Goat_Project">OWASP Node
            Goat Project</a>
    </div>
    <!--  Nav Links-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <!-- top nav -->
        <ul class="nav navbar-nav navbar-right navbar-user">

            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: larger"><i
                        class="fa fa-info-circle"></i></a>
                <ul class="dropdown-menu alert-dropdown" style="min-width: 350px; padding: 10px">
                    <li>
                        <p>
                            The OWASP Node Goat is an educational Node.js web application vulnerable to the <a
                                target="_blank" href="https://www.owasp.org/index.php/Top_10_2013-Top_10"> OWASP Top
                            10</a> risks.</p>

                        <p>It is intended to show how each of these vulnerabilities can manifest in a Node.js specific
                            way, and provides the subsequent mitigation for each with source code examples.
                        </p>

                        <p>To start hacking the application, login using the form below, or access the tutorial guide to
                            know more.</p>

                    </li>
                    <li class="divider"></li>

                    <li style="text-align: right"><i class="fa fa-tag"> </i> v1.3
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>


