####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
generateScanReport=true
scanReportFilenameFormat=static
##################################
# Organization tokens:
##################################
apiKey=
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
userKey=
#requesterEmail=user@provider.com

projectName=NodeGoat_AZ
projectVersion=1.0
projectToken=
#projectTag= key:value

productName=
productVersion=
productToken=


#wss.connectionTimeoutMinutes=60
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
wss.url=https://app.whitesourcesoftware.com/agent
 
############
# Policies #
############
checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
 
########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false
npm.ignoreNpmLsErrors=true
# #Take a look at WhiteSource Documentation for new/more options
##you can uncomment this line and try if you have not already done npm install-
## WS recommends to run it manually but for smaller # projects we did not see any difference
npm.runPreStep=true
##uncomment if you think the scan is picking up in-house or package that don't get 
##used in the product but exist in repo for test or other reasons.
#npm.resolveMainPackageJsonOnly=true
##uncomment if you think it may apply to your repository.
#npm.resolveAdditionalDependencies
npm.resolveDependencies=true

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.js
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.js
 
 
## Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true
