<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OWASP Node.js Goat</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="vendor/theme/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/theme/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
    #wrapper {
        padding-left: 0;
    }
    </style>

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>
        </nav>


        <div id="page-wrapper">


            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2>OWASP Node.js Goat Project</h2>

                        <p>
                            This is a Node.js web application which is vulnerable to the <a href="https://www.owasp.org/index.php/Top_10_2013-Top_10"> OWASP Top 10</a>. It is intended to show how each of these categories of vulnerabilities can manifest
                            themselves in a Node.js specific way as well as provide the subsequent mitigations for each.
                        </p>
                        <p>To start hacking the application, login using the form below, or access the tutorial guide to know more.</p>
                        <p>
                            <a class="btn btn-danger btn-lg" target="_blank" href="/signup">Start HACKING!</a>
                            <a class="btn btn-primary btn-lg" target="_blank" href="/tutorial">Tutorial Guide</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            {% if loginError %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{loginError}}
                    </div>
                </div>
            </div>
            <!-- /.row -->
            {% endif %}



            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Heaven Corp. Employee Savings Plan</h3>
                        </div>
                        <div class="panel-body">

                            <form method="post" role="form" method="post" id="loginform">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" value="{{username}}" placeholder="Enter username">
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Enter password">
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>
                                <span><a href="/signup">New user? Sign Up</a>
                                    <span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <!-- Load live reload script -->
    <script>
    document.write("<script src='http://" + (location.host || "localhost").split(":")[0] + ":35729/livereload.js'></" + "script>");
    </script>

</body>

</html>
